.academy-select-container {
  margin-bottom: 30px;
  padding: 10px 0px 30px;
  border-bottom: 1px solid #ccc;
  text-align: left;  
}

.academy-name-text {
  text-align: left;
  font-size: 1.4em;
}
.academy-data-container {
  text-align: left;
  margin-top: 30px;
  font-size: 1.1em;
  & > div:nth-child(n+2) {
    margin-top: 3px;
  }
}
.academy-data-label {
  display: inline-block;
  width: 110px;
  font-weight: 600;
}
.academy-sector-text,
.academy-district-text {
  text-decoration: underline;
  cursor: pointer;
}

.academy-distribution-chart {
  margin-top: 50px;
}
.event-list-container {
  display: none;
  margin-top: 30px;
}
.academy-event-list.table {
  td:nth-child(n+2) { padding-left: 25px; }
  td:nth-child(-n+2) { text-align: left; }
  td:nth-child(3) { text-align: right; }
}
