.sector-select-container {
  margin-bottom: 30px;
  padding: 10px 0px 30px;
  border-bottom: 1px solid #ccc;
  text-align: left;  
}

.sector-name-text {
  text-align: left;
  font-size: 1.4em;
}

.sector-distribution-container {
  margin-top: 40px;
}
.academy-list-container {
  margin-top: 40px;
}
.academy-bubble-chart {
  border: 1px solid #ccc;
  margin-top: 15px;
}
.sector-academy-list {
  margin-top: 15px;
}
